.friendCard {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.friendAvatar {
  width: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.friendOnline {
  color: green;
}

.friendOffline {
  color: red;
}
